<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- les trois liens suivants sont des liens de google font: css => font-family: 'Skranji', cursive;  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <!-- lien bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Mymachocolat</title>
</head>
<body>
    <div id="noteDeFrais_page" class="container-fluid p-0">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-choco">
            <a class="navbar-brand" href="#"><img class="d-block logo-img" src="\projet_mymachocolat-versionbootstrap\img\logo-simpl.png" alt="Mymachocolat"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="\projet_mymachocolat-versionbootstrap\index.html">Accueil
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Commander</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Idées Cadeaux</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nous Connaitre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacter</a>
                </li> -->
              </ul>
              <!-- <a class="log-link" href="#">Connexion</a>
              <i class="fas fa-sign-in-alt"></i>
              <a class="log-link" href="#">Inscription</a>
              <i class="fas fa-sign-out-alt"></i> -->
              <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            </div>
          </nav>
         
          <div id="index-cards_Block" class="card text-white">
            <img class="card-img" src="\projet_mymachocolat-versionbootstrap\img\catalogue.jpg" alt="Card image">
            </div>
          <div id="index-cards_Block" class="card text-white">
            <!-- <img class="card-img" src="" alt="Card image"> -->
            <h1 class="text-dark p-5 mt-5 text-center">Nos Différents Goûts</h1>
              <div class="card  text-dark text-center">
                  <h5 class="card-title pt-5">Chocolats Pralinés</h5>
                    <p class="card-text pb-5">
                        <strong>Amande Noisette </strong> et
                        <strong> Amande Graines De Courge </strong>
                    </p>
                  <div class="card-body row col-lg p-5 m-0">
                  <div id="index-card" class="card col-lg container-fluid p-0 m-2">
                    <a class="" href="#"><img class="card-img-top index-card-img img-fluid" src="\projet_mymachocolat-versionbootstrap\img-web\praline_noisette_courge_9.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                      <h5 class="card-title">Boîte 9 Pralinés</h5>
                      <p class="card-text">Assortiment lait et noir ou couleur de chocolat selon votre préférence</p>
                      <a href="#" class="card-text"><button type="button" class="btn btn-dark">8,00 €</button></a>
                    </div>
                  </div>
                  <div id="index-card" class="card col-lg container-fluid p-0 m-2">
                    <a class="" href="#"><img class="card-img-top index-card-img img-fluid" src="\projet_mymachocolat-versionbootstrap\img-web\pralines_noisettes_courges_16.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                      <h5 class="card-title">Boîte 16 Pralinés</h5>
                      <p class="card-text">Assortiment lait et noir ou couleur de chocolat selon votre préférence</p>
                      <a href="#" class="card-text"><button type="button" class="btn btn-dark">14,00 €</button></a>
                    </div>
                  </div>
                  <div id="index-card" class="card col-lg container-fluid p-0 m-2">
                    <a class="" href="#"><img class="card-img-top index-card-img img-fluid" src="\projet_mymachocolat-versionbootstrap\img-web\praline_noisette_courge_36.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                      <h5 class="card-title">Boîte 36 Pralinés</h5>
                      <p class="card-text">Assortiment lait et noir ou couleur de chocolat selon votre préférence</p>
                      <a href="" class="card-text"><button type="button" class="btn btn-dark">28,00 €</button></a>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <h3 class="text-dark">Liste Des Alergènes</h3>
                  <ul>
                    <li>Fruit à Coques</li>
                    <li>Crème</li>
                    <li>Lait</li>
                    <li>Sésame</li>
                    <li>Clémentine</li>
                    <li>Oranges</li>
                  </ul>
                </div>
              </div>
            </div>
          <footer class="row footer m-0" id="footerBlock">
            <p class="col-lg mt-5 text-center text-light">© Mymachocolat 2021 All Rights Reserved</p>
            <p class="col-lg-12 text-center text-light">
              <a href="https://www.facebook.com/mymachocolat" class="text-center text-light"><i class="fab fa-facebook p-2"></i></a>
              <a href=""  class="text-center text-light"><i class="fas fa-envelope-open-text p-2"></i></a>
              <a href=""  class="text-center text-light"><i class="fas fa-phone-volume p-2"></i></a>
            </p>
            <div class="">
                <!-- On appel la methode onclick dans la balise de l'icone et on lui passe la fonction goTopFunction() qu'on a créer plus bas -->
                <i id="goTopIcone" class="fa fa-arrow-circle-up" aria-hidden="true" onclick="goTopFunction()"  title="Go to top"></i>
            </div>
        </footer>
              <script>
                  //On cible l'icone par l'intermédiare de son id="goTopIcone" dans le DOM 
              var myIcone = document.getElementById("goTopIcone");
              
              // Quand l'utilisateur scroll vers le bas de 20px partant du haut de la page, on fait apparaitre le bouton en appelant la fonction scrollFunction() qu'on a créer plus
              window.onscroll = function() {scrollFunction()};
              
              //On créer la fonctio, scrollFunction qui va nous permettre de faire apparaitre l'icone lorsque la zonne scrollée dépasse 20px. (du haut vers le bas ou du bas vers le haut). dans le cas contraire on ne l'affiche pas.
              function scrollFunction() {
                  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                      myIcone.style.display = "block";
                  } else {
                      myIcone.style.display = "none";
                  }
              }
              
              // Cette fonction nous permet à l'utilisateur de faire un retours au début de la page lors d'un click sur l'icone gotopIcone.
              function goTopFunction() {
                  document.body.scrollTop = 0;
                  document.documentElement.scrollTop = 0;
              }
              
              </script>
              <!-- le script suivant est un lien qui charge les icones fontawesome -->
              <script src='https://kit.fontawesome.com/a076d05399.js'></script>
              <!-- Ce fichier script de jquery ci dessou nous permet de faire fonctionner le code script qui permet d'afficher le contenu de nos liens de la page lors d'un click en utilisant la methode click et la methode preventedefault de javascript -->
              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
              <!-- fichier du package bootstrap  -->
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>
    </div>
</body>
</html>